#container.knomaitc
  p Hola
  p
    | Hemos recibido una solicitud para cambio de contraseña. Por favor sigue 
    = ' '
    a(href=resetUrl) este enlace 
    |  para  reestablecer tu contrase;a.
  p
    | Equipo de soporte LaFemme

